<p>You can introduce custom directives for table headers to sort columns</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" sortable="name" (sort)="onSort($event)">name</th>
      <th scope="col" sortable="phone" (sort)="onSort($event)">phone</th>
      <th scope="col" sortable="email" (sort)="onSort($event)">email</th>
      <th scope="col" sortable="date" (sort)="onSort($event)">date</th>
      <th scope="col" sortable="country" (sort)="onSort($event)">country</th>
      <th scope="col" sortable="company" (sort)="onSort($event)">company</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heros">
      <th scope="row">{{ hero.name }}</th>
      <th scope="row">{{ hero.phone }}</th>
      <th scope="row">{{ hero.email }}</th>
      <th scope="row">{{ hero.date }}</th>
      <th scope="row">{{ hero.country }}</th>
      <th scope="row">{{ hero.company }}</th>
    </tr>
  </tbody>
</table>
